body {
  min-width: 900px;
  width: 1900px;
  font-family: Raleway, sans-serif;
}
.up {
  background: url("images/headermask.png");
  width: 100%;
  /*margin: auto;*/
  height: 750px;
}
header {
  font-family: Raleway, sans-serif;
  width: 1170px;
  margin: auto;
  padding: 30px 0;
  color: white;
  text-transform: uppercase;
}
.logo {
  float: left;
  font-size: 35px;
}

nav ul {
  float: right;
  padding-left: 0;
}
nav li {
  float: left;
  list-style: none;
  font-size: 13px;
  color: white;
  margin: 5px 25px;
}
nav li:nth-child(5) {
  margin-right: 0;
}
nav ul::after {
  content: "";
  clear: both;
  display: block;
}
.logo a:link { text-decoration: none; color: white; font-weight: 100}
.logo a:visited { text-decoration: none; color: white;font-weight: 100}
.logo a:active { text-decoration: none; color: white;font-weight: 100}
.logo a:hover { text-decoration: none; color: white;font-weight: 100}

.logo span {
  color: #4d5068;
  font-weight: 800;
}
nav::after{
  content: "";
  clear: both;
  display: block;
}
/*Masthead*/

.masthead {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  width: 870px;
  text-align: center;
  margin: auto;
  padding: 100px 150px;
  color: white;

}
.masthead h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
}
.button {
  border: 1px solid #e84545;
  height: 50px;
  width: 200px;
  background-color: #e84545;
  color: white;
  margin: auto;
  padding-top: 7px;
  box-sizing: border-box;

}
.masthead p {
  padding-bottom: 70px;
}
/*features block*/
.features {
  width: 1170px;
  margin: auto;
  padding: 100px 0 100px;
}
.service {
  width: 350px;
  text-align: center;
  display: inline-block;
  margin: 25px 15px;
}

.sprite {
  background: url(images/spritesheet.png) no-repeat;
  display: inline-block;
  margin: 5px 0 25px;
}
.sprite-icon1 {
  width: 60px;
  height: 60px;
  background-position: -70px -2px;
}

.sprite-icon2 {
  width: 73px;
  height: 60px;
  background-position: -134px -2px;
}

.sprite-icon3 {
  width: 41px;
  height: 60px;
  background-position: -211px -2px;
}

.sprite-icon4 {
  width: 56px;
  height: 60px;
  background-position: -256px -2px;
}

.sprite-icon5 {
  width: 72px;
  height: 60px;
  background-position: -316px -2px;
}

.sprite-icon6 {
  width: 79px;
  height: 60px;
  background-position: -392px -2px;
}

.features span {
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 26px;
  text-transform: uppercase;
  display: block;
}
.features p {
  padding-bottom: 70px;
}
/*works block*/
.work {
  width: 1900px;
  font-size: 0;
}
figure {
  display: inline-block;
  margin: 0;
  position: relative;
}
figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.effect-sarah {
  background: #ff0000;
}

figure.effect-sarah img {
  max-width: none;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-sarah:hover img {
  opacity: 0.4;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
  color: #FFFFFF;
  text-align: center;
}

figure.effect-sarah h2 {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);

}
figure.effect-sarah:hover h2 {
  font-size: 14px;
  margin-top: 150px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
figure.effect-sarah p {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
  font-size: 14px;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
/*footer social block*/
footer {
  width: 100%;
}
.texture_up {
  width: 100%;
  background: #3a3e64;
  color: white;
  font-size: 14px;
  font-family: Raleway, sans-serif;
}
.footer_social {
  width: 1170px;
  margin: auto;
  height: 250px;
}
.footer_social div {
  width: 350px;
  text-align: center;
  display: inline-block;
  margin: 50px 15px;
  vertical-align: top;
}
.footer_social h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.spriteSocial {
  background: url(images/spritesheet1.png) no-repeat;
  display: inline-block;
}
.sprite-iconS1 {
  width: 40px;
  height: 40px;
  background-position: -70px -2px;
}

.sprite-iconS2 {
  width: 40px;
  height: 40px;
  background-position: -114px -2px;
}

.sprite-iconS3 {
  width: 40px;
  height: 40px;
  background-position: -158px -2px;
}
/*footer_co*/
.texture_bottom {
  width: 100%;
  background: #313454;
  color: white;
  font-size: 14px;
  font-family: Raleway, sans-serif;
}
.footer_co {
  width: 1170px;
  margin: auto;
  text-align: center;
  padding: 25px 0;
}
.footer_co p {
  margin: 0;
}
.footer_co div {

}